# Ignore VS Code and ESPHome settings files, but not .claude/settings.json
.vscode/settings.json
esphome/ha-stiebel-control/config.h
tests/run_tests
tests/*.o
tests/*.obj
.DS_Store
.vscode
secrets.yaml
config/
/venv

# Added by cargo

/target
